<h3>Pokémons</h3>

<div class="row pb-3">
  <div class="col-8">
    <input class="form-control" type="text" #currentPokemonNameInput/>
  </div>
  <div class="col-2">
    <button (click)="onAddButtonClick()" class="btn btn-primary">Add</button>
  </div>
</div>

@for (pokemon of pokemonList; track pokemon.id) {
  <app-pokemon-item
    [pokemon]="pokemon"
    [removed]="true"
    (removePokemonName)="onRemovePokemon($event)"
  ></app-pokemon-item>
} @empty {
  <div class="my-2">No pokemon added</div>
}

@if (addPokemon) {
  <ngb-toast
    class="app-notif"
    (hidden)="addPokemon = false"
    [autohide]="true"
    [delay]="3000"
  >
    Pokemon {{ currentPokemonNameInput.value }} added
  </ngb-toast>
}

@if (removePokemon) {
  <ngb-toast
    class="app-notif"
    (hidden)="removePokemon = false"
    [autohide]="true"
    [delay]="3000"
  >
    Pokemon {{ removePokemonName }} removed
  </ngb-toast>
}
